<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <button appDropdown="" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="shopping-list">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item"  routerLinkActive="active"><a class="nav-link" routerLink="/signup">Register</a></li>
        <li class="nav-item"  routerLinkActive="active"><a class="nav-link" routerLink="/signin">Sign in</a></li>
      </ng-template>
      <li class="nav-item" *ngIf="authService.isAuthenticated()"><a class="nav-link" style="cursor:pointer;" (click)="onLogout()" >Log out</a></li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
        <a   style="cursor: pointer;" appDropdown class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div  style="cursor: pointer;" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onSave()">Save Data</a>
          <a class="dropdown-item" (click)="onLoad()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
