<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <button appDropdown class="btn btn-primary dropdown dropdown-toggle" id="theid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="theid">
        <a (click)="onAddIngredientsToShoppingList()" class="dropdown-item" style="cursor: pointer;">Add to Shopping List</a>
        <a class="dropdown-item"  style="cursor: pointer;" [routerLink]="['edit']">Edit Recipe</a>
        <a class="dropdown-item"  style="cursor: pointer;">Delete Recipe</a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{recipe.description}}</div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
